@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", "Noto Sans KR", "Helvetica", "Arial";
  line-height: 1.5;
  font-weight: 400;

  /*font-synthesis: none;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --min-screen-height: 400px;
  --min-screen-width: 350px;

  --font-size: 1em;
}

/* LIGHT COLORS */
:root {
  --background-primary: #ffffff;
  --background-secondary: #f5f5f5;
  --background-tertiary: #f0f0f0;
  --background-quaternary: #ebebeb;

  --neutral-color-not-hovering: rgb(220, 220, 220);
  --neutral-color-hovering: rgb(180, 180, 180);

  --understated-accent-not-hovering: #e2e8f0;
  --understated-accent-hovering: #cbd5e1;

  --navbar-background: rgb(192, 192, 192);

  --text-primary: #454545;
  --text-secondary: #333333;
  --text-tertiary: #4b5563;
  --text-footnote: rgb(128, 128, 128);

  --border-color: #dddddd;

  --button-color: #d0d7de;
  --button-hover-color: #666666;
  --button-text-color: black;

  --accent-border-color: #cbd5e1;
  --accent-button-color: #404040;
  --accent-button-hover-color: #ffd700;
  --accent-button-text-color: white;

  /* Accents */
  --accent-1: #8a6cb5;
  --accent-2: #c86384;
  --accent-3: #7b71a1;
  --accent-4: #4a6da8;
  --accent-5: #4d7f87;
  --accent-6: #c9a667;
  --accent-7: #1a3c6e;

  --loading-color: var(--accent-7);

  --error-text: #dc2626;
  --success-color: #16a34a;
  --warning-color: #d97706;

  /* does not change when dark mode */
  --focus-blue: rgb(24, 56, 98);
}

/* DARK MODE COLORS */
@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #050505;
    --background-secondary: #0a0a0a;
    --background-tertiary: #0f0f0f;
    --background-quaternary: #141414;

    --neutral-color-not-hovering: rgb(36, 36, 36);
    --neutral-color-hovering: rgb(72, 72, 72);
    --understated-accent-not-hovering: #1f2937;
    --understated-accent-hovering: #374151;

    --navbar-background: rgb(64, 64, 64);

    --text-primary: #aaaaaa;
    --text-secondary: #bbbbbb;
    --text-tertiary: #9ca3af;
    --text-footnote: rgb(128, 128, 128);

    --border-color: #222222;

    --button-color: #2f3842;
    --button-hover-color: gray;
    --button-text-color: white;

    --accent-border-color: #374151;

    --accent-button-color: silver;
    --accent-button-hover-color: gold;
    --accent-button-text-color: black;

    /* Accents */
    --accent-1: #b8a9d4;
    --accent-2: #db97ae;
    --accent-3: #9a90b0;
    --accent-4: #6a8ecc;
    --accent-5: #6d959c;
    --accent-6: #dbc197;
    --accent-7: #355382;

    --loading-color: var(--accent-7);

    --error-text: #ed6f64;
    --error-background: #3d050b;
    --error-border: #a81608;
    --success-color: #43a351;
    --warning-color: #f59e0b;
  }
}

#root {
  color: var(--text-primary);
  background: var(--background-primary);

  height: 100vh;
  width: 100vw;
  min-width: var(--min-screen-width);
  min-height: var(--min-screen-height);

  font-size: var(--font-size);

  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
