venv/*
backend/backend/.env
backend/korean/management/dictionary_data/*
backend/hanja/management/dictionary_data/*
frontend/packages/shared/src/hooks/hanzi-writer/hanzi-writer-data/*
__pycache__
known-issues.txt
notes.txt
backend/user_note_images
pokeapi-js-service-worker.js